.app {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.searchParameters {
  font-size: 12px;
}

.parameter {
  color: #00ab84;
}

.value {
  color: #00239c;
}

.invalidValue {
  color: #f93822;
}
